// Color Variables
// Primary Colors
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);

// Gradient Colors
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

// Neutral Colors
$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

// Fonts
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$F-size: 18px;
$F-family: 'Hanken Grotesk', sans-serif;


// General styling
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $F-family;
  font-size: $F-size;
  color: $White;
}